@model IEnumerable<Transactions>

@{
    ViewData["Title"] = "Transactions";
}

@{
    string auxMessage = "No description";
}

<h1 class="titles">Transactions</h1>

<div class="accordion accordion-flush" id="accordionFlushExample">
    @foreach (var transaction in Model)
    {
        <div class="accordion-item">
            <h2 class="accordion-header styleAccordion" id="flush-heading@(transaction.Id)">
                <button class="accordion-button collapsed accordionInter titlesAccordion" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse@(transaction.Id)" aria-expanded="false" aria-controls="flush-collapse@(transaction.Id)">
                    @if (@transaction.Description is not null)
                    {
                        @transaction.Description
                    }
                    else
                    {
                        @auxMessage
                    }
                </button>
            </h2>
            <div id="flush-collapse@(transaction.Id)" class="accordion-collapse collapse styleAccordion titlesAccordion" aria-labelledby="flush-heading@(transaction.Id)" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <table class="table">
                        <thead class="titlesAccordion">

                            <tr>
                                <th>Date</th>
                                <th>Account</th>
                                <th>Category</th>
                                <th>Operation description</th>
                                <th>Total</th>
                            </tr>

                        </thead>
                        <tbody id="reordenable">
                            <tr>
                                <td>@transaction.TransactionDate</td>
                                <td>@transaction.AccountName</td>
                                <td>@transaction.CategoryName</td>
                                <td>
                                    <i>@transaction.OperationTypeDescription</i>
                                </td>
                                <td>
                                    @if (transaction.OperationTypeDescription.Equals("Income"))
                                    {
                                        <span class="text-success">$@transaction.Total</span>
                                    }
                                    else if (transaction.OperationTypeDescription.Equals("Expenditure"))
                                    {
                                        <span class="text-danger">$@transaction.Total</span>
                                    }
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}